<link href="/stylesheets/new.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
<% layout('/layouts/boilerplate')%>
    <div id="id04" class="modal4">
        <form class="modal4-content" action="/fields" method="POST" enctype="multipart/form-data">
            <div class="cancelcontainer2">
                <span onclick="document.getElementById('id04').style.display='none'" class="close2" title="Thoát">&times;</span>
              </div>
        <div class="page-content-title">
            <h3>Cập nhật sân</h3>
            <div class="page-content">
                <div class="page-content-left">
                    <div class="row">
                        <label for="name" class="labels">Tên sân bóng:</label>
                        <input type="text" id="name" name="field[name]" placeholder="Tên sân bóng"  value= "<%=field.name%>" require>
                    </div>

                    <div class="row">
                        <label for="category" class="labels">Số người: </label>
                        <input type="number" id="category" name="field[category]" placeholder="Số người" min=5  value= "<%=field.category%>"require>
                    </div>

                    <div class="row">
                        <label for="address" class="labels">Địa điểm: </label>
                        <input type="text" id="address" name="field[address]" placeholder="Địa điểm" value="<%=field.address%>" require>
                    </div>

                    <div class="row">
                        <label for="utilities" class="labels">Tiện ích: </label>
                        <input type="text" id="utilities" name="field[utilities]" placeholder="Tiện ích" value="<%=field.utilities%>">
                    </div>

                    <div class="row">
                        <label for="description" class="labels">Mô tả: </label>
                        <textarea id="subject" name="field[description]" placeholder="Mô tả..." value="<%=field.description%>"
                            style="height:100px; width: 65%;"></textarea>
                    </div>
                </div>
                <div class="page-content-right">
                    <div class="choose-image">
                        <div class="input-group">
                            <input type="file" class="form-control" id="images" name="images" aria-describedby="images"
                                aria-label="Upload" multiple>
                        </div>
                        <% field.images.forEach(function(img, i){ %>
                            <img src="<%=img.thumb%>" class="img-thumbnail" alt="">
                            <div class="form-check-inline">
                                <input type="checkbox" name="deleteImages[]" id="image-<%=i%>" value="<%=img.filename%>">
                            </div>
                            <label for="image-<%=i%>">Delete?</label>
                        <% }) %>
                    </div>
                   
                    <div class="container10" id="time">
                        <div class="atTime">
                            <div class="button">
                                <button class="submitbtn3" id="add-input-price" type="button">Thêm giá</button>
                            </div>
                        </div>
                    </div>
                    
                </div>
                
            </div>
            <button type="submit" class="btn-add">Thêm sân</button>
        </div>
        </form>
    </div>
    <script> id = '<%-field.id%>';</script>
    <script src="/javascripts/jquery-3.6.0.min.js"></script>
    <script src="/javascripts/edit.js"></script>
    <script src="/javascripts/insertInputPrice.js"></script>
    <script>
        // Get the modal4
        var modal4 = document.getElementById('id04');

        // When the user clicks anywhere outside of the modal4, close it
        window.onclick = function (event) {
            if (event.target == modal4) {
                modal4.style.display = "none";
            }
        }
    </script>