<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
<link href="/stylesheets/index.css" rel="stylesheet" type="text/css">
<% layout('layouts/boilerplate') %>

<div class="search-dropdown-container">
    <div class="dropdown">
        <!-- <button onclick="myFunction()" class="dropbtn"> -->
        <button class="dropbtn">
            <div id="choosen" class="choosen3">Dropdown</div>
            <div><i class="bi bi-caret-down-fill"></i></div>
        </button>
        <div id="myDropdown" class="dropdown-content">
            <input
                type="text"
                placeholder="Search.."
                id="myInput"
                onkeyup="filterFunction()"
            />
            <a class="option" href="#about">About</a>
            <a class="option" href="#base">Base</a>
            <a class="option" href="#blog">Blog</a>
            <a class="option" href="#contact">Contact</a>
            <a class="option" href="#custom">Custom</a>
            <a class="option" href="#support">Support</a>
            <a class="option" href="#tools">Tools</a>
        </div>
    </div>
    <div class="dropdown">
        <!-- <button onclick="myFunction()" class="dropbtn"> -->
        <button class="dropbtn">
            <div id="choosen1">Dropdown</div>
            <div><i class="bi bi-caret-down-fill"></i></div>
        </button>
        <div class="dropdown-content-container">
            <div id="myDropdown1" class="dropdown-content">
                <input
                    type="text"
                    placeholder="Search.."
                    id="myInput"
                    onkeyup="filterFunction()"
                />
                <a class="option" href="#about">About</a>
                <a class="option" href="#base">Base</a>
                <a class="option" href="#blog">Blog</a>
                <a class="option" href="#contact">Contact</a>
                <a class="option" href="#custom">Custom</a>
                <a class="option" href="#support">Support</a>
                <a class="option" href="#tools">Tools</a>
            </div>
        </div>
    </div>
    <div class="dropdown">
        <!-- <button onclick="myFunction()" class="dropbtn"> -->
        <input id="input-nameField" class="dropbtn" type="text" placeholder="nhập tên sân">
    </div>
    <div class="submit-searchForm">
        <button class="submit-searchForm__btn">tìm kiếm</button>
    </div>
</div>

<div class="index-page-container">
    <%let i=0; for (let field of fields){ %>
        <div class="field-card card">
            <div class="field-card__header">
                <img src="<%=field.images[0].url%>" alt=""
                    class="field-card__header__img" />
            </div>
        
            <div class="field-card__content">
                <div class="field-card__content__title">
                    <a href="/fields/<%=field._id%>"><%= field.name%></a>
                </div>
                <div class="field-card__content__number-rating">
                    <p>Số người: <%=field.category%></p>
                    <p>⭐⭐⭐⭐⭐</p>
                </div>
                <div class="field-card__content__price">
                    <p>Giá </p>
                    <p class="field-card__content__price--orange">
                        <%const prices = field.prices.map(e => e.price);%>
                        <%const min = Math.min(...prices), max = Math.max(...prices)%>
                        <%=min%>đ - <%=max%>đ 
                    </p>
                    <p>/ Trận</p>
                </div>

                <div class="field-card__content__additional">
                    <p>🗸wifi</p>
                    <p>🗸căng tin</p>
                </div>
            </div>
        </div>
        <% }%>
</div>

<script src="/javascripts/dropDownFormJs.js"></script>