<link href="/stylesheets/index.css" rel="stylesheet" type="text/css">
<% layout('layouts/boilerplate') %>

<div class="index-page-container">
    <%let i=0; for (let field of fields){ %>
        <div class="field-card card">
            <div class="field-card__header">
                <img src="https://cdn.pixabay.com/photo/2020/06/30/19/42/the-soccer-field-5357418_1280.jpg" alt=""
                    class="field-card__header__img" />
            </div>
        
            <div class="field-card__content">
                <div class="field-card__content__title">
                    <a href="/fields/<%=field._id%>"><%= field.name%></a>
                </div>
                <div class="field-card__content__number-rating">
                    <p>Số người: <%=field.category%></p>
                    <p>⭐⭐⭐⭐⭐</p>
                </div>
                <div class="field-card__content__price">
                    <p>Giá </p>
                    <p class="field-card__content__price--orange">
                        <%const prices = field.prices.map(e => e.price);%>
                        <%const min = Math.min(...prices), max = Math.max(...prices)%>
                        <%=min%>đ - <%=max%>đ 
                    </p>
                    <p>/ Trận</p>
                </div>

                <div class="field-card__content__additional">
                    <p>🗸wifi</p>
                    <p>🗸căng tin</p>
                </div>
            </div>
        </div>
        <% }%>
</div>