<link href="/stylesheets/detail-page.css" rel="stylesheet" type="text/css">
<script src="https://cdn.jsdelivr.net/npm/@goongmaps/goong-js@1.0.9/dist/goong-js.js"></script>
<link href="https://cdn.jsdelivr.net/npm/@goongmaps/goong-js@1.0.9/dist/goong-js.css" rel="stylesheet" />
<link rel="stylesheet" href="/stylesheets/stars.css">
<% layout('layouts/boilerplate') %>

  <div class="detail-page detail-page-container">
    <div class="detail-page__header">
      <!-- <div class="detail-page__header__path">
        Trang chủ -> Hà nội -> Cầu Giấy -> Sân bóng đá cỏ mini nhân tạo
      </div> -->
      <div class="detail-page__header--order">
        <div class="detail-page__header--order__title">
          <div><%=field.name%></div>
          <div>⭐⭐⭐⭐⭐</div>
        </div>
        <div class="detail-page__header--order__button">
          <a class="btn btn-danger mt-5 mr-10" href="/bookings/<%=field._id%>">Đặt sân</a>
        </div>
      </div>
    </div>
    <div class="detail-page__information">
      <div class="detail-page__information__pic">
        <div id="demo" class="carousel slide" data-bs-ride="carousel">

          <!-- Indicators/dots -->
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
            <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
            <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
          </div>

          <!-- The slideshow/carousel -->
          <div class="carousel-inner">
            <% field.images.forEach((img, i) => { %>
              <div class="carousel-item <%= i===0 ? 'active' : ''%>">
                <img src="<%=img.url%>" class="d-block w-100" alt="...">
              </div>
            <% }) %>
          </div>

          <!-- Left and right controls/icons -->
          <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
            <span class="carousel-control-prev-icon"></span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
            <span class="carousel-control-next-icon"></span>
          </button>
        </div>

      </div>
      <div class="detail-page__information__detail">
        <div class="address">
          <%=field.address%>
        </div>
        <%const prices=field.prices.map(e=> e.price);%>
          <%const min=Math.min(...prices), max=Math.max(...prices)%>
            <div class="price">
              <%=min%>đ - <%=max%>đ
            </div>
            <div class="additional">
              <div>Tiện ích</div>
              <ul>
                  <%const values=field.utilities[0].split(',');%>
                    <% for (let utilitie of values) {%>
                      <li>
                        <%=utilitie%>
                      </li>
                      <%}%>
              </ul>
            </div>
      </div>
    </div>
    <div class="detail-page__introduction">
      <h1>Giới thiệu</h1>
      <span>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aut, asperiores veritatis consequatur neque,
        libero,
        quibusdam alias velit quia ex accusantium exercitationem odio sit earum porro recusandae tenetur consectetur
        dolorem mollitia?Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laborum explicabo perspiciatis
        nostrum
        eaque est tempore officiis cumque, quasi soluta voluptas expedita exercitationem quod minus, voluptate dolores?
        Explicabo adipisci laboriosam nesciunt!
        <br>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum obcaecati ea voluptates. Voluptatibus maxime
        esse,
        corporis vero dolorum molestias voluptas. Necessitatibus tenetur perspiciatis ratione, ducimus repellendus
        nobis?
        Ipsam, earum dolor. Lorem ipsum dolor sit amet, consectetur adipisicing elit. A quidem neque maiores ut
        voluptatum
        voluptate eius aut. Omnis corporis tempora aliquam iure illum ex id tempore, mollitia, ut vel reprehenderit?
      </span>
    </div>
    <div class="detail-page__map">
      <h1>Bản đồ</h1>
      <div id="map" style="height: 300px;"></div>
    </div>
  </div>
  <div class="detail-page__review">
    <h2>Đánh giá</h2>
    <div class="detail-page__review--detail">
      <form action="/fields/<%=field._id%>/reviews" method="POST" class="mb-3 validated-form" novalidate>'
        <!-- <div class="mb-3">
          <label for="rating" class="form-label">Rating</label>
          <input type="range" class="form-range" id="rating" min="1" max="5" name="review[rating]">
        </div> -->
        <div class="mb-3">
          <fieldset class="starability-basic">
            <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1" checked aria-label="No rating." />
            <input type="radio" id="first-rate1" name="review[rating]" value="1" />
            <label for="first-rate1" title="Terrible">1 star</label>
            <input type="radio" id="first-rate2" name="review[rating]" value="2" />
            <label for="first-rate2" title="Not good">2 stars</label>
            <input type="radio" id="first-rate3" name="review[rating]" value="3" />
            <label for="first-rate3" title="Average">3 stars</label>
            <input type="radio" id="first-rate4" name="review[rating]" value="4" />
            <label for="first-rate4" title="Very good">4 stars</label>
            <input type="radio" id="first-rate5" name="review[rating]" value="5" />
            <label for="first-rate5" title="Amazing">5 stars</label>
          </fieldset>
        </div>
        <div class="mb-3">
            <label for="body" class="form-label">Review text</label>
            <textarea name="review[body]" id="body" class="form-control" cols="30" rows="3" required></textarea>
            <div class="valid-feedback">
              Looks good!
            </div>
        </div>
        <button class="btn btn-success mr-5">Gửi đánh giá</button>
      </form>
      <% for(let review of field.reviews) { %>
        <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title"><%= review.author.username%></h5>
            <p class="starability-result" data-rating="<%=review.rating%>">
              Rated: <%= review.rating%> stars
            </p>
            <!-- <h6 class="card-subtitle mb-2 text-muted">by <%= review.author.username%></h6> -->
            <p class="card-text"><%=review.body%></p>
            <!-- <% if (currentUser && review.author.equals(currentUser._id)) { %>
            <form action="/fields/<%=field._id%>/reviews/<%=review._id%>?_method=DELETE" method="POST">
              <button class="btn btn-sm btn-danger">Delete</button>
            </form>
            <% } %> -->
          </div>
        </div>
        <%} %>
    </div>
  </div>
  </div>
  </div>

  <script>
    mapToken = '<%-process.env.MAP_TOKEN%>';
    console.log(mapToken);
    field = <%- JSON.stringify(field) %>
  </script>
  <script src="/javascripts/map.js"></script>
  
<script src="/javascripts/dropDownFormJs.js"></script>