<link href="/stylesheets/index.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
<% layout('layouts/boilerplate') %>

    <h1>Danh sách sân</h1>
    <div>
        <a href="/fields/new" class="btn btn-success bnt-lg mb-3 ml-auto">Thêm sân</a>
    </div>
    <div class="index-page-container">
        <% for(let field of fields){%>
            <div class="field-card card">
                <div class="field-card__header">
                    <img
                        src="<%=field.images[0].url%>"
                        alt=""
                        class="field-card__header__img"
                    />
                   
                    <!-- <div class="icon-bar">
                        <a href="#"><i class="bi bi-pencil-square"></i></a> 
                      </div> -->
                </div>
             
                <div class="field-card__content">
                    <div class="icon-bar">
                        <a href="/fields/<%=field._id%>/edit"><i class="bi bi-pencil-square"></i></a>
                        <form action="/fields/<%=field._id%>?_method=DELETE" method="post">
                            <button><i class="bi bi-trash3" ></i></button>
                        </form>
                      </div>
                    <div class="field-card__content__title">
                        <%=field.name%>
                    </div>
                    <div class="field-card__content__number-rating">
                        <p>Số người: <%=field.category%></p>
                        <p>⭐⭐⭐⭐⭐</p>
                    </div>
                    <div class="field-card__content__price">
                        <p>Giá </p>
                        <p class="field-card__content__price--orange">
                            <%const prices = field.prices.map(e => e.price);%>
                        <%const min = Math.min(...prices), max = Math.max(...prices)%>
                        <%=min%>đ - <%=max%>đ 
                        </p>
                        <p>/ Trận</p>
                    </div>
        
                    <div class="field-card__content__additional">
                        <p>🗸wifi</p>
                        <p>🗸căng tin</p>
                    </div>
                </div>
            </div>
        <%}%>
    </div>

